@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #f7fafc; /* bg-gray-100 */
  color: #1a202c; /* text-gray-900 */
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
